# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/
.ipynb_checkpoints/

# Other files and folders
.settings/
age_gender_bkts.csv
countries.csv
sample_submission_NDF.csv
sessions.csv
test_users.csv
train_users_2.csv
data.csv

# Executables
*.swf
*.air
*.ipa
*.apk

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
